---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: {{ tenant_cluster_ro_rolename }}
rules:
  - verbs:
    - get
    - list
    - watch
    apiGroups:
    - ''
    resources:
    - configmaps
    - endpoints
    - persistentvolumeclaims
    - persistentvolumes
    - pods
    - replicationcontrollers
    - serviceaccounts
    - services
    - bindings
    - events
    - nodes
    - bindings
    - namespaces
 
  - verbs:
    - get
    - list
    - watch
    apiGroups:
    - apps
    resources:
    - controllerrevisions
    - daemonsets
    - deployments
    - replicasets
    - statefulsets
 
  - verbs:
    - get
    - list
    - watch
    apiGroups:
    - autoscaling
    resources:
    - horizontalpodautoscalers
     
  - verbs:
    - get
    - list
    - watch
    apiGroups:
    - batch
    resources:
    - cronjobs
    - jobs
     
  - verbs:
    - get
    - list
    - watch
    apiGroups:
    - policy
    resources:
    - poddisruptionbudgets
    - podsecuritypolicies
     
  - verbs:
    - get
    - list
    - watch
    apiGroups:
    - networking.k8s.io
    resources:
    - ingresses
    - networkpolicies