---
apiVersion: kubeadm.k8s.io/v1beta3
kind: InitConfiguration
localAPIEndpoint:
  advertiseAddress: {{ HOST_IP }}
  bindPort: 6443
---
apiServer:
  certSANs:
    - {{ master0_ip }}
    - {{ master1_ip }}
    - {{ master2_ip }}
    - {{ k8s_controlPlane_Endpoint }}
  extraArgs:
    service-cluster-ip-range: {{ k8s_service_subnet }}  #10.96.0.0/12
#    advertise-address: {{ k8s_controlPlane_Endpoint }} #10.99.120.79

apiVersion: kubeadm.k8s.io/v1beta3
certificatesDir: /etc/kubernetes/pki
controllerManager:
  extraArgs:
    bind-address: 0.0.0.0
    cluster-cidr: {{ k8s_pod_subnet }} #10.244.0.0/22
    node-cidr-mask-size: "25"
    service-cluster-ip-range: {{ k8s_service_subnet }}  #10.96.0.0/12
dns: {}

kind: ClusterConfiguration
clusterName: "{{ k8s_cluster_name }}"
kubernetesVersion: {{ k8s_version_short }} #v1.24.0
controlPlaneEndpoint: {{ k8s_controlPlane_Endpoint }}:6443
networking:
  podSubnet: {{ k8s_pod_subnet }} # 10.244.0.0/22
  serviceSubnet: {{ k8s_service_subnet }} #10.96.0.0/12
scheduler: {}