---
apiVersion: v1
kind: Secret
metadata:
  name: vsphere-cloud-secret
  labels:
    vsphere-cpi-infra: secret
    component: cloud-controller-manager
  namespace: kube-system
stringData:
  {{ vsphere_host_ip }}.username: {{ vsphere_user }}
  {{ vsphere_host_ip }}.password: {{ vsphere_password }}
