[Global]
cluster-id = {{ k8s_cluster_id }}
cluster-distribution = ""
#ca-file = "" # optional, use with insecure-flag set to false
#thumbprint = "<cert thumbprint>" # optional, use with insecure-flag set to false without providing ca-file

[VirtualCenter "{{ vsphere_host_ip }}"]
insecure-flag = "true"
user = {{ vsphere_user }}
password = {{ vsphere_password }}
port = "443"
datacenters = {{ dcname }}
