kind: StorageClass
apiVersion: storage.k8s.io/v1
metadata:
  name: "{{ sc_name }}"
  annotations:
    storageclass.kubernetes.io/is-default-class: "true"
provisioner: csi.vsphere.vmware.com
parameters:
  storagepolicyname: "{{ sc_storage_policy_name }}"
  fstype: ext4