apiVersion: v1
kind: Secret
metadata:
  name: vcloud-basic-auth
  namespace: kube-system
data:
  username: {{ vcloud_csiadmin_username | b64encode }}
  password: {{ vcloud_csiadmin_password | b64encode }}
  refreshToken: ""
