---
apiVersion: v1
kind: ConfigMap
metadata:
  name: vcloud-csi-configmap
  namespace: kube-system
data:
  vcloud-csi-config.yaml: |+
    vcd:
      host: "{{ vcloud_url[:-4] }}"
      org: "{{ vcloud_orgname }}"
      vdc: "{{ vcloud_vdc }}"
      vAppName: "{{ vapp_name }}"
    clusterid: "{{ k8s_cluster_id }}"
immutable: true
...
