alertmanager:
  tolerations:
    - key: "servicegroup"
      operator: "Equal"
      value: "monitoring"
      effect: "NoSchedule"
  nodeSelector:
    servicegroup: monitoring
  config:
    route:
      group_by: ['alertname', 'cluster', 'job', 'env']
      group_wait: 30s
      group_interval: 5m
      repeat_interval: 1h
      receiver: 'default'
      routes:
        - match:
            severity: page
          receiver: {{ alertmgr_telegram_receiver_name }}
    receivers:
      - name: 'default'
      - name: {{ alertmgr_telegram_receiver_name }}
        telegram_configs:
          - bot_token: {{ alertmgr_telegram_bot_token }}
            api_url: https://api.telegram.org
            chat_id: {{ alertmgr_telegram_chatid }}
            parse_mode: ''